div {
	border: 1px solid black;
}

.preview_all {
	position: relative;
}
.preview_all .ui-resizable {
	z-index: 1500;
}

.preview_all .selector {
	position: absolute;
	top:0px;
	left:0px
}

.preview_part {
	overflow:hidden;
}

/*resize handler*/
.ui-resizable {
	border: 1px solid yellow;
}
.ui-resizable:hover,
.ui-resizable-resizing {
	border: 2px solid yellow;
}
.ui-resizable-handle {
	display: block;
	z-index:90;
	width: 10px;
	height: 10px;
	position:absolute;
	right: 0px;
	bottom: 0px;
	border: 0px;
	background-color: yellow;
	border: 1px solid yellow;
}

/* file uploader */
.fileUploaderContainer .debugArea {
  position: fixed;
  top: 0px;
  right: 0px;
  max-width:600px;
  border: none;
  background-color: antiquewhite;
}