.preview_all {
	position: relative;
}
.preview_all .ui-resizable {
	z-index: 1500;
}

.preview_all .selector {
	position: absolute;
	top:0px;
	left:0px
}

.preview_part {
	overflow:hidden;
}

.bg-info {
	padding: 15px;
	border-radius: 5px;
}

.inchRadio {
	font-weight: normal;
}

@media screen and (min-width: 800px) {
	#imgPreview {
		max-width: 500px;
		max-height: 400px;
	}
}

@media screen and (max-width: 420px) {
	#imgPreview {
		max-width: 380px;
		max-height: 300px;
	}
}

@media screen and (max-width: 380px) {
	#imgPreview {
		max-width: 340px;
		max-height: 300px;
	}
}

@media screen and (max-width: 320px) {
	#imgPreview {
		max-width: 290px;
		max-height: 250px;
	}
}

/*resize handler*/
.ui-resizable {
	border: 1px solid @brand-primary;
}
.ui-resizable:hover,
.ui-resizable-resizing {
	border: 2px solid @brand-primary;
}
.ui-resizable-handle {
	display: block;
	z-index:90;
	width: 55px;
	height: 20px;
	position:absolute;
	right: 0px;
	bottom: 0px;
	border: 0px;
	background-color: @brand-primary;
	border: 1px solid @brand-primary;
}
.ui-resizable-handle:after {
	color: white;
	font-size: 12px;
	font-weight: bold;
	content: "改变大小";
}

/* file uploader */
.fileUploaderContainer .debugArea {
  position: fixed;
  top: 0px;
  right: 0px;
  max-width:600px;
  border: none;
  background-color: antiquewhite;
}